include ../title/title

mixin input(options)

  -
    var component = {}

  case options.type 
    when 'text'
      -
        component.placeholder = options.placeholder
        component.inputType =  'text'
        component.hasButton= false
    when 'email'
      -
        component = {
          placeholder: 'Email',
          inputType: 'email',
          hasButton: false
        }     
    when 'password'
      -
        component = {
          placeholder: 'Password',
          inputType: 'password',
          hasButton: false
        }
    when 'dropdown'
      -
        component = {
          inputType: 'text',
          hasButton: true,
          buttonClasses: 'input__button_more js-input__button-dropdown'
        }
    when 'date-dropdown'
      -
        component = {
          inputClasses: 'js-input__date-dropdown',
          placeholder: 'ДД.ММ.ГГГГ',
          inputType: 'text',
          hasButton: true,
          buttonClasses: 'input__button_more js-input__button-date-dropdown'
        }
    when 'filter-date-dropdown'
      -
        component = {
          placeholder: 'ДД.ММ.ГГГГ',
          inputType: 'text',
          hasButton: true,
          buttonClasses: 'input__button_more js-input__button-filter-date-dropdown'
        }
    when 'subscription'
      -
        component = {
          placeholder: 'Email',
          inputType: 'email',
          hasButton: true,
          buttonClasses: 'input__button_arrow js-input__button-subscription'
        }

  .input
    if options.titleText
      .input__header
        +title({text: options.titleText})
        if options.hint
          span.input__hint= options.hint
    .input__wrapper
      input.input__text-field(
        class=component.inputClasses
        type=component.inputType
        value=options.value
        placeholder=component.placeholder
      )
      if component.hasButton
        button.input__button(class=component.buttonClasses)