mixin radio-buttons
  -
    const {
      man,
      woman,
    } = require('@components/radio-buttons/data.json')

  .radio-buttons
    label.radio-buttons__item
      input.radio-buttons__input(
        name="sex",
        type="radio",
        value="man",
        checked
      )
      span.radio-buttons__text= man
    label.radio-buttons__item
      input.radio-buttons__input(name="sex", type="radio", value="woman") 
      span.radio-buttons__text= woman
