mixin button(options)
  -
    const {
      text = 'click me',
      link,
      size,
      isHovered = false,
      type = 'button',
      theme = 'default',
      isLink = false
    } = options || {}

    const tag = isLink ? 'a' : 'button'

    var classes = ''
    classes += ' button_theme-' + theme 
    classes += size ? ' button_size-' + size : ''
    classes += isHovered ? ' button_hovered' : ''


  #{tag}.button(class=classes href=link type=type)
    span.button__text= text
    if theme === 'long'
      span.button__arrow.material-icons arrow_forward
