mixin button(options)
  -
    const {
      text = '',
      link,
      size,
      isHovered = false,
      type = '',
      theme = '',
      isLink = false
    } = options || {}

    const tag = isLink ? 'a' : 'button'
    const themeClass = theme && `button_theme_${theme}` 
    const sizeClass = size &&  `button_size_${size}` 
    const hoverClass = isHovered && 'button_hovered'
    const classes = [themeClass, sizeClass, hoverClass]

  #{tag}.button(class=classes, href=link, type=isLink ? null : type)
    span.button__text= text
    if theme === 'long'
      span.button__arrow
        svg.button__icon
          include ../../images/decorative/arrow.svg
