include ../button/button

mixin dropdown-menu(options)
  -
    const {
      items = [
        {name:'', counter: 0}, 
      ],
      isOpened = false,
      type = '',
    } = options || {}

    let hasButtons = false

    switch (type) {
      case 'rooms':
        hasButtons = false
        break;
      case 'guests':
        hasButtons = true
    } 

  -
    let classes = ''
    classes += isOpened ? ' dropdown-menu_opened' : ''

  .dropdown-menu.js-dropdown-menu(class=classes data-type=type)
    .dropdown-menu__input.js-dropdown-menu__input
      block
    .dropdown-menu__menu
      ul.dropdown-menu__list
        each item in items 
          li.dropdown-menu__item.js-dropdown-menu__item
            span.dropdown-menu__item-name= item.name
            button.dropdown-menu__counter-button.js-dropdown-menu__counter-button(
              type='button'
            ) -
            span.dropdown-menu__counter.js-dropdown-menu__counter= item.counter
            button.dropdown-menu__counter-button.js-dropdown-menu__counter-button(
              type='button'
            ) +
      if hasButtons
        .dropdown-menu__buttons
          .dropdown-menu__clear-button.js-dropdown-menu__clear-button
            +button({type: 'link', theme: 'link', text: 'очистить', type:'button'})
          .dropdown-menu__apply-button.js-dropdown-menu__apply-button
            +button({type: 'link', theme: 'link', text: 'применить', type:'button'})
