mixin label(options)
  -
    const {
      title='example',
      hasHint=false, 
      hint=''
    } = options || {}

  .label 
    span.label__title= title
    if hasHint
      span.label__hint= hint
    block
