include ../like-button/like-button

mixin comment(options)
  -
    const {
      authorName = '',
      image = '',
      date = '',
      datetime = '',
      counter = 0,
      isLiked = false,
      text = '',
    } = options || {}

  .comment
    img.comment__img(
      src=require(`Images/content/${image}.png`),
      alt=`Фото автора ${authorName}`
    )
    .comment__header
      span.comment__author-name= authorName
      time.comment__date(datetime=datetime)= date
    .comment__like-button
      +like-button({counter, isLiked})
    blockquote.comment__text= text
