include ../like-button/like-button

mixin comment(options)
  -
    const {
      authorName = '',
      image = '',
      date = '',
      counter = 0,
      isLiked = false,
      text = '',
    } = options || {}

  .comment 
    img.comment__img(
      src=require(`Components/comment/img/${image}.png`)
      alt=`Фото автора ${authorName}`
    )
    .comment__header 
      span.comment__author-name= authorName
      span.comment__date= date
    .comment__like-button
      +like-button({counter, isLiked})
    p.comment__text= text
