include ../logo/logo
include ../container/container
include ../button/button

mixin header(options)
  -
    const { 
      navItems = [
        {link: '', text: ''}, 
        {
          text: '', 
          list: [
            {link: '', text: ''}, 
          ]
        },
      ],
      active = null,
      username = ''
    } = options || {}

    const {buttons, logo} = require('Components/header/data.json')

  .header.js-header 
    +container
      .header__wrapper
        .header__logo
          +logo(logo)
        button.header__burger-button.js-header__burger-button.material-icons menu
        ul.header__navigation.js-header__navigation
          each navItem, index in navItems
            li.header__navigation-item
              if navItem.list
                .header__sub-navigation-menu
                  button.header__navigation-button.js-header__navigation-button
                    span.header__button-content= navItem.text
                  ul.header__sub-navigation-list.js-header__sub-navigation-list
                    each listItem in navItem.list
                      li.header__navigation-item 
                        a.header__navigation-link(
                          href=listItem.link
                        )= listItem.text
              else
                a.header__navigation-link(
                  href=navItem.link,
                  class=index === active && 'header__navigation-link_active'
                )= navItem.text
        .header__login
          if username
            span.header__username= username
          else
            +button(buttons.login)
            +button(buttons.registration)
