mixin gallery(options)
  -
    const {
      images = [
        {src: '', alt: ''}, 
      ]
    } = options || {}

  .gallery
    .gallery__main-column
      img.gallery__img(
        src=require(`@images/content/${images[0].src}.png`),
        alt=images[0].alt
      )
    .gallery__sub-column
      img.gallery__img(
        src=require(`@images/content/${images[1].src}.png`),
        alt=images[1].alt
      )
      img.gallery__img(
        src=require(`@images/content/${images[2].src}.png`),
        alt=images[2].alt
      )
