include ../text-field/text-field
include ../logo/logo
include ../container/container

mixin footer(options)
  -
    const {
      aboutText = '',
      navItems = [
        {
          header: '',
          items: [
            {text: '', link: ''},
          ]
        },
      ],
      subscriptionHeader = '',
      subscriptionText = '',
      copyrightText = '',
      socials = [
        {link: '', img: ''},
      ],
      mobile = false
    } = options || {}

    const {textFields} = require('Components/footer/data.json')

    let classes = ''
    classes += mobile ? 'footer_mobile' : ''

  .footer(class=classes)
    +container
      .footer__main
        .footer__about
          .footer__logo 
            +logo({type: 'full-logo'})
          p.footer__text.footer__about-text= aboutText
        .footer__nav
          each navItem in navItems
            .footer__nav-item
              span.footer__header= navItem.header
              ul.footer__list
                each item in navItem.items
                  li.footer__list-item
                    a.footer__list-link(href=item.link)= item.text
        form.footer__subscription(method="POST", action="/change-it")
          span.footer__header.footer__header_margin-small= subscriptionHeader
          p.footer__text= subscriptionText
          .footer__input
            +text-field(textFields[0])
    .footer__line
      +container
        .footer__sub
          span.footer__text.footer__text-copyright= copyrightText
          .footer__social
            each social in socials
              a.footer__social-link(href=social.link) 
                img(
                  src=require(`Images/decorative/${social.img}.svg`)
                  alt=social.img
                )
