include ../../components/text-field/text-field
include ../../components/logo/logo
include ../../components/container/container

mixin footer(options)
  if !options
    - options = {};

  -
    var component = {
      aboutText: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
      navItems: [
        {
          header: 'навигация',
          items: [
            {text: 'О нас', link: '/change-it'},
            {text: 'Новости', link: '/change-it'},
            {text: 'Служба поддержки', link: '/change-it'},
            {text: 'Услуги', link: '/change-it'},
          ]
        },
        {
          header: 'о нас',
          items: [
            {text: 'О сервисе', link: '/change-it'}, 
            {text: 'Наша команда', link: '/change-it'},
            {text: 'Вакансии', link: '/change-it'},
            {text: 'Инвесторы', link: '/change-it'},
          ]
        },
        {
          header: 'Служба поддержки',
          items: [
            {text: 'Соглашения', link: '/change-it'},
            {text: 'Сообщества', link: '/change-it'},
            {text: 'Связь с нами', link: '/change-it'},
          ]
        }
      ],
      subscriptionHeader: 'Подписка',
      subscriptionText: 'Получайте специальные предложения и новости сервиса',
      copyrightText: 'Copyright © 2018 Toxin отель. Все права зачищены.',
      socials: [
        {link: '/change-it', img: 'twitter'},
        {link: '/change-it', img: 'facebook'},
        {link: '/change-it', img: 'instagram'},
      ]
    }

    var classes = ''
    classes += options.mobile ? 'footer_mobile' : ''

  .footer(class=classes)
    +container
      .footer__main
        .footer__about
          .footer__logo 
            +logo
          p.footer__text.footer__about-text= component.aboutText
        .footer__nav
          each navItem in component.navItems
            .footer__nav-item
              span.footer__header= navItem.header
              ul.footer__list
                each item in navItem.items
                  li.footer__list-item
                    a.footer__list-link(href=item.link)= item.text
        form.footer__subscription(method="POST", action="/change-it")
          span.footer__header= component.subscriptionHeader
          p.footer__text= component.subscriptionText
          .footer__input
            +text-field({ placeholder: 'Email', type: "email", isSubscription: true })
    .footer__line
      +container
        .footer__sub
          span.footer__text.footer__text-copyright= component.copyrightText
          .footer__social
            each social in component.socials
              a.footer__social-link(href=social.link) 
                img(
                  src=require(`../../components/footer/img/${social.img}.svg`).default,
                  alt=social.img
                )
