mixin room-info(options)
  -
    const {
      number = 888, 
      isLink = false,
      link = '/change-it',
      isLux = false, 
      price = "9 990"
    } = options || {}

  -
    const linkTag = `a href=${link} class = "room-info__number-value room-info__number-value_type-link"` 
    const spanTag = `span class="room-info__number-value"`

    const tag = isLink ? linkTag : spanTag

  .room-info
    span.room-info__number
      span.room-info__number-signs= '№ '
      #{tag} #{number}
      if isLux
        span.room-info__lux люкс
    span.room-info__price
      span.room-info__price-number= `${price}₽`
      span.room-info__price-text &nbsp;&nbsp;в сутки
