include ../room-info/room-info
include ../rate/rate
include ../typography/typography

mixin room-card(options)
  -
    const {
      images = [''],
      currentImage = 0,
      number = 0,
      link  = '',
      isLux = false,
      price = '',
      quantity = 0,
      reviews = 0,
    } = options || {}

    if (reviews > 999) {
      reviews = '999+'
    }

    const {
      reviewsText,
    } = require('@components/room-card/data.json')

  .room-card
    .room-card__carousel.js-room-card__carousel(
      data-current-image=currentImage,
      data-quantity-image=images.length - 1
    )
      each image in images
        img.room-card__image.js-room-card__image(
          src=require(`@images/content/${image}.jpg`),
          alt=`${image}`
        )
      .room-card__buttons
        each image in images
          button.room-card__button.js-room-card__button
      button(
        class=`room-card__arrow-button 
        room-card__arrow-button_back 
        js-room-card__arrow-button_back`
      )
        include ../../images/decorative/expand-more.svg
      button(
        class=`room-card__arrow-button 
        room-card__arrow-button_next 
        js-room-card__arrow-button_next`
      )
        include ../../images/decorative/expand-more.svg
    .room-card__info
      +room-info({ number, isLink: true, link, isLux, price })
    .room-card__rating-wrapper
      .room-card__rating
        .room-card__rate
          +rate({quantity})
        .room-card__reviews
          +typography({text: reviews, variant: 'body', isBold: true})
          +typography({text: reviewsText, variant: 'body'})
