include ../room-info/room-info
include ../rate/rate

mixin room-card(options)
  -
    const {
      images = [''],
      currentImage = 0,
      number = 0,
      link  = '',
      isLux = false,
      price = '',
      quantity = 0,
      reviews = 0,
    } = options || {}

  .room-card
    .room-card__carousel.js-room-card__carousel(
      data-current-image=currentImage,
      data-quantity-image=images.length - 1
    )
      each image in images
        img.room-card__image.js-room-card__image(
          src=require(`Images/content/${image}.png`),
          alt=`${image}`
        )
      .room-card__buttons
        each image, index in images
          button.room-card__button.js-room-card__button(data-button-number=index)
      button(
        class=`room-card__arrow-button 
        room-card__arrow-button_action-back 
        js-room-card__arrow-button_action-back`
      )
        include ../../images/decorative/arrow-back.svg
      button(
        class=`room-card__arrow-button 
        room-card__arrow-button_action-next 
        js-room-card__arrow-button_action-next`
      )
        include ../../images/decorative/arrow-back.svg
    .room-card__info
      +room-info({ number, isLink: true, link, isLux, price })
    .room-card__rating-wrapper
      .room-card__rating
        .room-card__rate
          +rate({quantity})
        span.room-card__reviews
          span.room-card__reviews-value= reviews
          span.room-card__reviews-text= " Отзывов"
