mixin text-field(options)
  -
    const {
      isHovered = false, 
      isMasked = false, 
      type = 'text', 
      value = '', 
      name = '', 
      placeholder = '', 
      isSubscription = false,
      isDropdown = false,
      isReadonly = false,
      maskedType = '',
      inputmode = ''
    } = options || {}

    var classes = ''
    classes += isHovered ? ' text-field_hovered' : '' 
    classes += isMasked ? ' text-field_masked js-text-field_masked' : '' 

  .text-field(class=classes)
    input.text-field__input(
      type=type,
      value=value,
      name=name,
      placeholder=placeholder,
      data-masked-type=maskedType,
      readonly=isReadonly ? "readonly" : false,
      tabindex=isReadonly ? "1" : "0",
      inputmode=inputmode
    )
    if isSubscription
      button.text-field__subscription-button(type="submit") 
    if isDropdown
      button.text-field__dropdown-button(type="button", tabindex=isReadonly ? "0" : "1")
