mixin svg-gradient(options)
  -
    const {
      id,
      startColor,
      endColor,
    } = options || {}

  span.svg-gradient
    svg(
      style="width: 0; height: 0; position: absolute",
      aria-hidden="true",
      focusable="false"
    )
      linearGradient(
        id=id,
        x1="12",
        y1="0",
        x2="12",
        y2="24",
        gradientUnits="userSpaceOnUse"
      )
        stop(stop-color=startColor)
        stop(offset="100%", stop-color=endColor)
